{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.lwjgl/lwjgl {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-glfw {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-opengl {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl$natives-macos-arm64 {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-glfw$natives-macos-arm64 {:mvn/version "3.3.6"}
        org.lwjgl/lwjgl-opengl$natives-macos-arm64 {:mvn/version "3.3.6"}
        org.joml/joml {:mvn/version "1.10.8"}
        nrepl/nrepl {:mvn/version "1.1.0"}}
 :aliases {:run {:main-opts ["-m" "lwjgl.core"]
                 :jvm-opts ["-XstartOnFirstThread"
                            "--enable-native-access=ALL-UNNAMED"]}
           :hello-window {:main-opts ["-m" "lwjgl.hello-window"]
                          :jvm-opts ["-XstartOnFirstThread"
                                     "--enable-native-access=ALL-UNNAMED"]}
           :hello-window-clear {:main-opts ["-m" "lwjgl.hello-window-clear"]
                                :jvm-opts ["-XstartOnFirstThread"
                                           "--enable-native-access=ALL-UNNAMED"]}
           :chapter1 {:main-opts ["-m" "lwjgl.hello-triangle"]
                      :jvm-opts ["-XstartOnFirstThread"
                                 "--enable-native-access=ALL-UNNAMED"]}
           :triangle-indexed {:main-opts ["-m" "lwjgl.hello-triangle-indexed"]
                              :jvm-opts ["-XstartOnFirstThread"
                                         "--enable-native-access=ALL-UNNAMED"]}
           :cider {:extra-deps {cider/cider-nrepl {:mvn/version "0.45.0"}}
                   :main-opts ["-m" "nrepl.cmdline"
                               "--middleware"
                               "[cider.nrepl/cider-middleware]"]
                   :jvm-opts ["-XstartOnFirstThread"
                              "--enable-native-access=ALL-UNNAMED"]}
           :cider-deps {:extra-deps {cider/cider-nrepl {:mvn/version "0.45.0"}}}}}
